@charset "UTF-8";

/***
Global
***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
  
html {
  min-height: 100%;
  background: rgb(168,255,176);
  background: linear-gradient(38deg, rgba(168,255,176,1) 0%, rgba(146,255,209,1) 23%, rgba(235,255,155,1) 51%, rgba(216,251,171,1) 100%);
  font-size: 18px;
}

body {
  height: 100%;
  font-family: Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: underline;
  color: azure;
  background-color: #000;
  border-radius: 2px;
}

a:hover {
  font-style: italic
}

.text-gradient {
  background: rgb(48, 155, 255);
  background: -webkit-linear-gradient(120deg,rgb(48, 155, 255) 0,#92ffd1 100%);
  background: -moz-linear-gradient(120deg,rgb(48, 155, 255) 0,#92ffd1 100%);
  background: linear-gradient(160deg,rgb(48, 155, 255) 0,#92ffd1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: 1s fadeIn;
  animation: 1s fadeIn;
  opacity: 1;
}

/***
Header
***/

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  flex: 1 0 auto;
  min-width: 375px;
  max-width: 500px;
  height: auto;
  margin: 0;
}

object {
  z-index: -1;
  pointer-events: none;
}

.home {
  display: block;
  z-index: 1;
  background: none;
  border: none;
}

#sub-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.byline {
  z-index: 2;
  flex: none;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  max-width: 248px;
  margin-top: -12px;
  margin-bottom: 40px;
}

/***
Main
***/

main {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0px 40px 40px;
  gap: 40px;
}

.box, .radio {
  margin: 0;
  color: azure;
  background-color: #000;
  padding: 20px;
  border-radius: 3px;
  line-height: 2;
  text-align: center;
}

.radio {
  flex: 1 1 0;
}

.box {
  flex: 1 0 200px;
}

.inner {
  width: 100%;
  height: auto;
  padding: 20px;
}

.spotify {
  width: 100%;
  height: 380px;
  padding: 20px 20px 0;
}

#countdown {
  font-size: 17px;
  letter-spacing: 1px;
  width: 250px;
  margin: 0;
  line-height: 2;
  text-align: center;
  color: #fff;
  background: #000;
}

#onAir {
  margin: 0px;
  padding: 0px;
  width: 1px;
  height: 1px;
}

.about {
  font-size: 1.4rem;
  line-height: 1.2;
  flex: 1 0 0;
  border-radius: 3px;
  padding: calc(1rem + 5vw);
  margin: 0;
  max-width: 600px;
  color: #fff;
  border: 1px solid #ceccd4;
  background: #9D50BB;
  background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);
  background: linear-gradient(to right, #6E48AA, #9D50BB);
}

/***
Footer
***/

footer {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: calc(30px + 3vw) calc(20px + 3vw);
  background: #000;
}

.link {
  text-align: justify;
  font-size: 0.8rem;
  margin: 10px 5px;
  color: #fff;
  padding: 6px;
  border: 1px solid #000;
  border-radius: 2px;
  background: none;
  text-underline-position: under;
}

.copyright {
  font-size: 0.8rem;
  margin: 20px 0 16px 0;
  color: #fff;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}