@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  background: rgb(251, 251, 251);
  font-size: 18px;
}

body {
  height: 100%;
  width: 100%;
  font-family: Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 599px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
  main {
    margin: 70px 0 80px 0;
  }
  #header-left {
    align-self: center;
  }
  .byline {
    top: 150px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .slider {
    height: 360px;
    width: 360px;
  }
}

@media (min-width: 600px) {
  header {
    flex-direction: column;
    justify-content: flex-start;
  }
  main {
    margin: 80px 0;
  }
  #header-left {
    align-self: center;
  }
  .byline {
    top: 90px;
    right: 130px;
    margin-left: unset;
    margin-right: unset;
  }
  .slider {
    height: 360px;
    width: 580px;
  }
}

@media (min-width: 820px) {
  .slider {
    width: 800px;
  }
}

@media (min-width: 1024px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }
  #header-right {
    padding-right: 130px;
  }
  main {
    margin: 0 0 80px 0;
  }
  .byline {
    vertical-align: middle;
    top: 90px;
    right: 130px;
    margin-left: unset;
    margin-right: unset;
  }
  .slider {
    height: 360px;
    width: 960px;
  }
}

#header-left {
  flex: 1 0 auto;
  min-width: 375px;
  max-width: 480px;
  height: auto;
}

#header-right {
  display: flex;
  justify-content: center;
  align-self: center;
}

a {
  text-decoration: underline;
  color: #000;
  border-radius: 2px;
  text-underline-position: under;
}

a:hover {
  font-style: italic;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: 1s fadeIn;
  animation: 1s fadeIn;
  opacity: 1;
}

header {
  display: flex;
}

object {
  z-index: -1;
  pointer-events: none;
}

.home {
  display: block;
  background: 0 0;
  border: none;
}

#sub-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.byline {
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  width: 270px;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: fit-content;
  justify-content: center;
  gap: 40px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-380px * 27));
  }
}

.slider {
  background: rgb(251, 251, 251);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  margin: auto;
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    content: "";
    height: 360px;
    position: absolute;
    width: 360px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll 140s linear infinite;
    display: flex;
    width: calc(360px * 27);
    gap: 40px;
  }

  .slide {
    height: 360px;
    width: 360px;
  }
}

.cover {
  width: 360px;
}

.about {
  font-size: 1.4rem;
  line-height: 1.2;
  align-self: center;
  border-radius: 3px;
  padding: 20px;
  margin: 50px 22px;
  max-width: 800px;
  color: rgb(0, 0, 0);
  border: 2px solid #000000;
}

footer {
  display: flex;
  flex: 0;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: calc(4px + 1vw) calc(20px + 2vw);
  background: #000;
}

.link {
  text-align: justify;
  font-size: 0.8rem;
  margin: 10px 5px;
  color: #fff;
  padding: 6px;
  border: 1px solid #000;
  border-radius: 2px;
  background: none;
  text-underline-position: under;
}

.copyright {
  font-size: 0.8rem;
  margin: 20px 0 16px 0;
  color: #fff;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
