@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html {
  min-height: 100%;
  background: rgb(168,255,176);
  background: linear-gradient(38deg, rgba(168,255,176,1) 0%, rgba(146,255,209,1) 23%, rgba(235,255,155,1) 51%, rgba(216,251,171,1) 100%);
  font-size: 18px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: 1s fadeIn;
  animation: 1s fadeIn;
  opacity: 1;
}

/*
@media (min-width: 0px) {
  body {
      font-size: clamp(1rem, calc(1rem + 1vw), 1.5rem);
  }
}

@media (min-width: 1150px){
  body {
      font-size: clamp(1.5rem, calc(1.5rem + 1vw), 1.8rem);
  }
}
*/

body {
  font-family: 'Fira Code', monospace;
  letter-spacing: 1px;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 20px;
}

.logo {
  flex: none;
  width: 180px;
  height: auto;
  margin: 20px 50px;
}

.byline {
  flex: none;
  color: black;
  letter-spacing: 0px;
  text-align: center;
  max-width: 300px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px 20px;
}

a {
  text-decoration: underline;
  color: azure;
  background-color: #000;
  border-radius: 2px;
}

a:hover {
  font-style: italic
}

.text-gradient {
  background: #0f0;
  background: -webkit-linear-gradient(120deg,rgb(48, 155, 255) 0,#92ffd1 100%);
  background: -moz-linear-gradient(120deg,rgb(48, 155, 255) 0,#92ffd1 100%);
  background: linear-gradient(160deg,rgb(48, 155, 255) 0,#92ffd1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.info, .radio, .box {
  margin: 20px 0px;
  color: azure;
  background-color: #000;
  padding: 7px;
  border-radius: 2px;
}
.info {
  flex: 0 0 0;
  min-width: 300px;
}

.radio {
  flex: 1 0 0;
  max-width: 325px;
}

.box {
  flex: 0 1 0;
}

#countdown {
  font-family: 'Fira Code', monospace;
  font-size: 17px;
  letter-spacing: 1px;
  color: azure;
  background-color: #000;
  width: 250px;
  margin: 0px 12px;
  background: -webkit-linear-gradient(120deg,rgb(48, 155, 255) 0,#92ffd1 100%);
  background: -moz-linear-gradient(120deg,rgb(48, 155, 255) 0,#92ffd1 100%);
  background: linear-gradient(160deg,rgb(48, 155, 255) 0,#92ffd1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#onAir {
  margin: 0px;
  padding: 0px;
  width: 1px;
  height: 1px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 20px;
}

.link {
  text-align: justify;
  margin: 10px;
  color: #000;
  padding: 6px 8px 8px 8px;
  border: 1px solid #000;
  border-radius: 2px;
  background: none;
  letter-spacing: 0px;
}

.copyright {
  flex: none;
  margin-top: 20px;
  color: black;
  letter-spacing: 0px;
  max-width: 500px;
}